In [1]:
import numpy as np
import pandas as pd

## Creating a pandas series

- pd.Series(`data`, `labels`)

- A pandas series can be created in two ways

1) By Passing the necessary parameters into the `pd.Series()`

2) By Passing a dictionary of key - value pairs to the `pd.Series()`

In [2]:
labels = [i for i in range(1, 6)]
values = ["USA", "China", "UK", "Japan", "India"]

# Creating a pandas series using two lists
series = pd.Series(data = values, index = labels)
print(series)

1      USA
2    China
3       UK
4    Japan
5    India
dtype: object

In [4]:
# Printing the Series using indexes
for i in labels:
    print(i, series[i])

1 USA
2 China
3 UK
4 Japan
5 India

In [5]:
# Creating a Series from a dictionary
dic = {1 : "Germany", 2 : "France", 3 : "Korea", 4 : "Canada", 5 : "Australia"}
series2 = pd.Series(dic)
print(series2)

1      Germany
2       France
3        Korea
4       Canada
5    Australia
dtype: object

In [6]:
for i in labels:
    print(i, series2[i])

1 Germany
2 France
3 Korea
4 Canada
5 Australia

In [7]:
# Arithematic on the pandas series
print(series + series2)

1        USAGermany
2       ChinaFrance
3           UKKorea
4       JapanCanada
5    IndiaAustralia
dtype: object