In [1]:
import numpy as np
import pandas as pd

## Creating a pandas series

- pd.Series(`data`, `labels`)

- A pandas series can be created in two ways

1) By Passing the necessary parameters into the `pd.Series()`

2) By Passing a dictionary of key - value pairs to the `pd.Series()`

In [2]:
labels = [i for i in range(1, 6)]
values = ["USA", "China", "UK", "Japan", "India"]

# Creating a pandas series using two lists
series = pd.Series(data = values, index = labels)
print(series)

1      USA
2    China
3       UK
4    Japan
5    India
dtype: object

In [3]:
# Printing the Series using indexes
for i in labels:
    print(i, series[i])

1 USA
2 China
3 UK
4 Japan
5 India

In [4]:
# Creating a Series from a dictionary
dic = {1 : "Germany", 2 : "France", 3 : "Korea", 4 : "Canada", 5 : "Australia"}
series2 = pd.Series(dic)
print(series2)

1      Germany
2       France
3        Korea
4       Canada
5    Australia
dtype: object

In [5]:
for i in labels:
    print(i, series2[i])

1 Germany
2 France
3 Korea
4 Canada
5 Australia

In [6]:
# Arithematic on the pandas series
print(series + series2)

1        USAGermany
2       ChinaFrance
3           UKKorea
4       JapanCanada
5    IndiaAustralia
dtype: object

## Working with Pandas Dataframes

- A 2D datastructure which carries both the row and column wise information

### Creating a Dataframe
- pd.DataFrame(`data`, `rows`, `columns`)

### Accessing a column from a dataframe
- df[`column`]

### Accessing a subset of the dataframe
- df[[`Columns`]]

### Deleting a column
- df.drop(`column`, `axis`, `inplace`)

In [9]:
# Data to be stored in the dataframe
data = np.random.randn(5, 5)

# Creating the dataframe
df = pd.DataFrame(data, index = [i for i in range(5)], columns = ["A", "B", "C", "D", "E"])
print(df)

          A         B         C         D         E
0  0.391739  0.972389 -0.223854 -0.861428 -0.498910
1  0.439325 -1.354051  1.702442  1.380913 -0.461783
2 -0.465288 -0.121611  0.837312 -0.423629  1.515762
3  1.066162 -2.217327  0.367553 -0.760112 -1.174437
4  1.517450  1.591264 -2.612814 -0.371523 -0.207952

In [10]:
# Viewing a column of the dataframe
print(df["A"])

0    0.391739
1    0.439325
2   -0.465288
3    1.066162
4    1.517450
Name: A, dtype: float64

In [11]:
# Viewing a subset of the dataframe
print(df[["A", "C", "E"]])

          A         C         E
0  0.391739 -0.223854 -0.498910
1  0.439325  1.702442 -0.461783
2 -0.465288  0.837312  1.515762
3  1.066162  0.367553 -1.174437
4  1.517450 -2.612814 -0.207952

In [14]:
# Dropping a column from the dataframe
print("Before Dropping E")
print(df)

df.drop("E", axis = 1)

print("\n\nAfter Dropping E - No Change as Inplace = False")
print(df)

Before Dropping E
          A         B         C         D         E
0  0.391739  0.972389 -0.223854 -0.861428 -0.498910
1  0.439325 -1.354051  1.702442  1.380913 -0.461783
2 -0.465288 -0.121611  0.837312 -0.423629  1.515762
3  1.066162 -2.217327  0.367553 -0.760112 -1.174437
4  1.517450  1.591264 -2.612814 -0.371523 -0.207952


After Dropping E - No Change as Inplace = False
          A         B         C         D         E
0  0.391739  0.972389 -0.223854 -0.861428 -0.498910
1  0.439325 -1.354051  1.702442  1.380913 -0.461783
2 -0.465288 -0.121611  0.837312 -0.423629  1.515762
3  1.066162 -2.217327  0.367553 -0.760112 -1.174437
4  1.517450  1.591264 -2.612814 -0.371523 -0.207952

In [15]:
# Dropping a column from the dataframe
print("Before Dropping E")
print(df)

df.drop("E", axis = 1, inplace = True)

print("\n\nAfter Dropping E - Permanent Change as Inplace = True")
print(df)

Before Dropping E
          A         B         C         D         E
0  0.391739  0.972389 -0.223854 -0.861428 -0.498910
1  0.439325 -1.354051  1.702442  1.380913 -0.461783
2 -0.465288 -0.121611  0.837312 -0.423629  1.515762
3  1.066162 -2.217327  0.367553 -0.760112 -1.174437
4  1.517450  1.591264 -2.612814 -0.371523 -0.207952


After Dropping E - Permanent Change as Inplace = True
          A         B         C         D
0  0.391739  0.972389 -0.223854 -0.861428
1  0.439325 -1.354051  1.702442  1.380913
2 -0.465288 -0.121611  0.837312 -0.423629
3  1.066162 -2.217327  0.367553 -0.760112
4  1.517450  1.591264 -2.612814 -0.371523